{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index/Home{% endblock %}

{% block body_block %}


<div class= "col-md-2 col-sm-2 col-xs-2"></div>
<div class="col-md-8 col-sm-8 col-xs-8">
    <div class ="thumbnail fluid-container">
        <center>
            <h1>
                {{image.name}}
            </h1>
        </center>

        
        <img src="{{ image.picture.url }}" class="img-responsive" alt="IMG" />
        
        <div class="pull-left centered">
            
            {% if user.is_authenticated %}
            <button id="likes" data-imgid="{{image.id}}" data-userid="{{user.id}}" data-likes="{{ likes_count }}" class="btn btn-default" type="button" onClick='clicked_liked()'>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                Like
            </button>
            {% endif %}
        </div>
        <div>
            {% if tildes %}
                {% for tilde in tildes %}
                    <a class="pull-left" href="{% url 'tilde'  tilde.slug %}">~{{ tilde.name }}</a>
                {% endfor %}
            {% else %}
                You have found a dead image. Oh no!
            {% endif %}

        </div>
        <br><hr>
        <div id="comments">
            
            {% if comments %}
                {% for comment in comments %}
                <div class="row">
                    <div class ="col-md-2 col-sm-2 col-xs-2 thumbnail">
                        <img src=" {{comment.user.profile_pic}} " class="img-responsive" alt="IMG" />
                    </div>
                    <div class ="col-md-8 col-sm-8 col-xs-8"><p>{{ comment.comment }}</p></div>
                </div>
                {% endfor %}
            {% else %}
            {% endif %}
            <hr>
            {% if user.is_authenticated %}
            <center>
                <form action="/gigglebit/submit_comment/">
                    <div class="input-group">
                        <input type="text" class="form-control" name="comment" placeholder="Write a comment"><br>
                        <input type="hidden" name="image" value="{{ image.id }}">
                        <span class="input-group-btn"><input class="btn btn-default" type="submit" value="Submit"></span>
                </form>
            </center>
            {% endif %}
        </div>
            
    </div>

    
</div>


{% endblock %}
