{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index/Home{% endblock %}

{% block body_block %}
  <div class="page-header">
    <center>
      <h1>
        {{image.name}}
      </h1>
    </center>
  </div>
  <div>
    <div>
      <center>
        <img src="{{ image.picture.url }}" class="img-responsive" alt="IMG" />
      </center>
    </div>
    <center>
        <div class= "row">
            
            {% if tildes %}
                {% for tilde in tildes %}
                    <a href="{% url 'tilde'  tilde.slug %}">{{ tilde.name }}</a>
                {% endfor %}
            {% else %}
                You have found a dead image. Oh no!
            {% endif %}
        </div>
    </center>
    <center>
      <div>
        {{ likes_count }} likes
        {% if user.is_authenticated %}
        <button id="likes" data-imgid="{{image.id}}" data-userid="{{user.id}}" class="btn btn-primary" type="button" onClick='clicked_liked()'>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Like
        </button>
        
        
        {% endif %}
      </div>
    </center>
      <div>
        {% if comments %}
          {% for comment in comments %}
            <div>
              <!-can't implement adding comments till logon is implemented ->
              {{ comment.comment }}
            </div>
          {% endfor %}
        {% else %}
          no comments
        {% endif %}
      </div>
    </center>
  <div>


{% endblock %}
