{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Category{% endblock %}

{% block body_block %}

    <div class="page-header">
        <h1>{{ page_header }}</h1>
    </div>
    <div class="fluid-container">
        {% if new_images %}
            {% for image in new_images.object_list %}
                {% cycle "<div class='row'>" "" "" "" %}
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="thumb"><a href="{% url 'image'  image.slug %}"><img src="{{image.picture.url}}" height = "200"class = " img-responsive" alt="IMG"></a></div>
						<div class="caption">
							{{image.name}}<br>
							{% for tilde in image.category.all|slice:":3" %}
								<a href="{% url 'tilde'  tilde.slug %}">~{{ tilde.name }}</a>
							{% endfor %}
						</div>
                    </div>
                    {% cycle "" "" "" "</div><br><br>" %}
                {% endfor %}
				{% if not_mod4 %}
					</div>
				{% endif %}
        {% else %}
            <strong>{{error_message}}</strong>
        {% endif %}
        <br>
        <div class='row'>
				<div class="col-md-12 col-sm-12 col-xs-12 page-links">
					{% if display_page_links %}
						<p><
						{% if last_page %}
							<a href="{{last_page}}">Last Page</a>
						{% endif %}
						|
						{% if next_page %}
							<a href="{{next_page}}">Next Page</a>
						{% endif %}
						></p>
					{% endif %}
				</div>
        </div>
{% endblock %}
