{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index/Home{% endblock %}

{% block body_block %}
  <div class="page-header">
    <center>
      <h1>
        {{image.name}}
      </h1>
    </center>
  </div>
  <div>
    <div>
      <center>
        <img src="{{ image.picture.url }}" class="img-responsive" alt="IMG" />
      </center>
    </div>
    <center>
        <div class= "row">

            {% if tildes %}
                {% for tilde in tildes %}
                    <a href="{% url 'tilde'  tilde.slug %}">{{ tilde.name }}</a>
                {% endfor %}
            {% else %}
                You have found a dead image. Oh no!
            {% endif %}
        </div>
    </center>
    <center>
      <div>
        <strong id="like_count">{{ likes_count }}</strong> people like this category
        {% if user.is_authenticated %}
        <button id="likes" data-imgid="{{image.id}}" data-userid="{{user.id}}" data-likes="{{ likes_count }}" class="btn btn-primary" type="button" onClick='clicked_liked()'>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Like
        </button>


        {% endif %}
      </div>
      <div id="comments" class="table-responsive">
        {% if comments %}
        <table class="table" align="center">
          <tr>
            <td><b>User</b></td>
            <td><b>Comment</b></td>
          </tr>
          {% for comment in comments %}
          <tr>
            <td>
              {{ comment.user.username }}
            </td>
            <td>
               {{ comment.comment }}
            </td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
          no comments
        {% endif %}
      </div>
        {% if user.is_authenticated %}
          enter comment
          </br>
          <form class="form-horizontal" action="/gigglebit/submit_comment/" >
            <div class="form-group">
              <input type="text" name="comment"><br>
              <input type="hidden" name="image" value="{{ image.id }}">
              <input type="submit" value="Submit">
            </div>
          </form>
        {% endif %}
      </div>
    </center>
  <div>


{% endblock %}
