{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index/Home{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Popular on GiggleBit Today</h1>
    </div>
    {% if new_images %}
        {% for image_list in new_images %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                    {% for image in image_list %}
                        <div ><a href="{% url 'image'  image.slug %}" class="thumbnail"><img src="{{image.picture.url}}" alt="IMG"></a></div>
                    {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <strong>There are no pictures present.</strong>
    {% endif %}
{% endblock %}
