{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index/Home{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Popular on GiggleBit Today</h1>
    </div>
    <div class="fluid-container">
    {% if new_images %}
            {% for image_list in new_images %}
                <div class = "row">
                    {% for image in image_list %}
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <a href="{% url 'image'  image.slug %}"><img src="{{image.picture.url}}" class = " img-responsive" alt="IMG"></a>
                        </div>
                    {% endfor %}
                </div>
                <br><br>
            {% endfor %}
    {% else %}
        <strong>There are no pictures present.</strong>
    {% endif %}
    <div>
        
{% endblock %}
