{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Category{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{category_name}}</h1>
    </div>
    <div class="fluid-container">
        {% if tilde_images %}
            {% for image_group in tilde_images %}
                <div class = "row">
                {% for image in image_group %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <a href="{% url 'image'  image.slug %}"><img src="{{image.picture.url}}" class = " img-responsive" alt="IMG"></a>
                    </div>
                {% endfor %}
                </div>
                <br><br>
            {% endfor %}
        {% else %}
            No images in category
        {% endif %}
    </div>

{% endblock %}
<div class = "row">
    {% for image in image_list %}
    <div class="col-md-3 col-sm-6 col-xs-6">
        <a href="{% url 'image'  image.slug %}"><img src="{{image.picture.url}}" class = " img-responsive" alt="IMG"></a>
    </div>
    {% endfor %}
</div>
<br><br>

                {% cycle "<div class='row'>" "" %}
                {% cycle "" "</div><br><br>" %}